<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Promotion <%=@promotion_code%> has expired.</h1>
    <p>
       From now on, the promotion will not be applicable.
    </p>
    <p>Have a great day!</p>
    <br>
    <p>Coupons Team.</p>
  </body>
</html>