<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Promotion <%=@promotion_code%> will expire <%=@when%>.</h1>
    <p>
       From that moment on, the promotion: '<%=@promotion_name%>' will not be applicable any longer.
    </p>
    <p>Have a great day!</p>
    <br>
    <p>Coupons Team.</p>
  </body>
</html>